html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

body {
  font-family: "Vidaloka", serif;
}

div#container {
  width: 1000px;
  height: 600px;
  margin: auto;
  background-color: transparent;
}

svg {
  width: 100%;
  height: 100%;
}

.bar {
  fill: darksalmon;
}

text {
  font-size: 12px;
  fill: darkslategrey;
}

path {
  stroke: gray;
}

line {
  stroke: #212738;
  stroke-width: 3;
}

line#limit {
  stroke: #FED966;
  stroke-width: 3;
  stroke-dasharray: 3 6;
}

.grid path {
  stroke-width: 0;
}

.grid .tick line {
  stroke: #9FAAAE;
  stroke-opacity: 0.3;
}

text.divergence {
  font-size: 14px;
  fill: #2F4A6D;
}

text.value {
  font-size: 14px;
}

text.title {
  font-size: 22px;
  font-weight: 600;
}

text.label {
  font-size: 14px;
  font-weight: 400;
}

text.source {
  font-size: 10px;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: top;
  overflow: hidden;
}

.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.payroll-container {
  display: -ms-grid;
  display: grid;
}

#payroll {
  -ms-grid-column-align: center;
      justify-self: center;
}

.logo-buttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[5];
      grid-template-columns: repeat(5, auto);
  -ms-grid-column-align: center;
      justify-self: center;
  z-index: 1;
  -ms-grid-row-align: start;
      align-self: start;
  grid-gap: 30px;
}

.logo-chart {
  height: 1000px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100px 680px 100px;
      grid-template-rows: 100px 680px 100px;
}

.logo-chart button {
  color: #212738;
  padding: 10px 17px;
  font-family: 'Vidaloka', serif;
  font-size: 15px;
  border: 2px solid #212738;
  border-radius: 4px;
  cursor: pointer;
  background: transparent;
}

.logo-chart button:focus {
  color: white;
  border: 2px solid #212738;
  background-color: #212738;
}

.logo-chart button:focus {
  outline: 0;
}

.logo-chart span {
  color: darkslategrey;
  font-size: 22px;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

text {
  font-family: 'Vidaloka', serif;
  color: darkslategray;
}

.Line {
  color: crimson;
  background-color: crimson;
}

.all {
  font-family: "Vidaloka", serif;
}

.header {
  font-family: "Vidaloka", serif;
  font-weight: 700;
  background-color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  padding: 2% 3%;
}

.header img {
  height: 55px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header p {
  font-size: 30px;
  color: #212738;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header-left {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 56px auto;
      grid-template-columns: 56px auto;
}

.parallax {
  background-image: url("https://etrinidad132.github.io/Price-of-Winning/images/whitebackground.jpg");
  min-height: 493px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.info {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 1;
      grid-row-start: 1;
  display: -ms-grid;
  display: grid;
  padding: 6%;
  color: #212738;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-gap: 12px;
}

.info-title {
  font-size: 110px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-shadow: 5px 0px #57C4E5;
  letter-spacing: 5px;
}

.description {
  font-size: 18px;
  line-height: 1.5em;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  text-align: justify;
  width: 50%;
  padding: 0 10px;
  background-color: rgba(87, 196, 229, 0.397);
  border-radius: 4px;
}

.description:hover {
  background-color: #57C4E5;
  border-radius: 4px;
  font-weight: 1000;
}

.content {
  height: 1400px;
}

.author {
  height: 450px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  color: white;
  text-shadow: 4px 3px #233f2f;
  padding: 0 29%;
  grid-gap: 9%;
  background-color: #57C4E5;
}

.author .profile-pic {
  -webkit-box-shadow: 4px 3px #233f2f;
          box-shadow: 4px 3px #233f2f;
}

.author img {
  height: 230px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.author-name {
  text-decoration: none;
}

.author-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-row-align: center;
      align-self: center;
  grid-gap: 30px;
}

.author-info p {
  line-height: 1.5em;
  width: 500px;
}

.author-info span {
  font-size: 35px;
  color: white;
  text-shadow: 4px 3px #233f2f;
  letter-spacing: 2px;
  cursor: pointer;
}

.author-info a {
  text-decoration: none;
}

.author-info a:hover {
  font-size: 50px;
}

.icons {
  -ms-grid-column-align: start;
      justify-self: start;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  grid-gap: 23px;
}

.icons img {
  height: 35px;
}

.icons img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.points {
  display: -ms-grid;
  display: grid;
  grid-gap: 12px;
}
/*# sourceMappingURL=home.css.map */